.container {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

table {
    width: 100%;
}

.table-header {
    width: 100%;
}

.table-position {
    width: calc(100% - 100px);
}

.button-right {
    float: right;
}

.notify-error {
    color: red;
}
